header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

header > button {
  font-size: 1.2rem;
}

.heading-container {
  flex: 0.8;
}

@media screen and (max-width: 420px) {
  header {
    flex-direction: column;
    align-items: stretch;
  }
}